@use './globals';

.categoryButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    // position: sticky;
    top: 0;
    // flex-direction: row-reverse;
    gap: 0.5rem;
    // overflow-x: scroll;
    // white-space: nowrap;
    // rotate: -180deg;
    background: globals.$Blue-Gradient;
    z-index: 100;
    width: 100%;

    button {
        font-size: 20px;
        color: white;
        // rotate: 180deg;
        white-space: nowrap;
        padding: 0.2rem 1rem;
        border: 2px solid white;
        border-radius: 99px;
        transition: .2s;

        &.active {
            color: globals.$Gold-Light;
            border: 2px solid globals.$Gold-Light;
        }

        &:hover {
            color: globals.$Gold-Light;
        }
    }
}

.iconPreviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 18px;

    span {
        padding: 0 0.4rem;
        white-space: nowrap;
        letter-spacing: 0.5px;
        color: globals.$Blue-Light;

        iconify-icon {
            margin-right: 4px;
        }
    }
}

h2.categoryHeader {
    display: block;
    width: 100%;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Satisfy';
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 1rem;
    // @include globals.coloredText(globals.$Blue-Gradient);
    background: linear-gradient(to right, globals.$Blue-Dark, globals.$Blue-Light, globals.$Blue-Dark);
    color: white;

    padding: 0;
    width: min(100%, 350px);
    margin: 1rem auto;
    clip-path: polygon(0%0%, 100%0%, 90%50%, 100%100%, 0%100%, 10%50%);
}

h3.subCategoryHeader {
    font-family: 'Satisfy';
    text-transform: capitalize;
    text-align: center;
    color: globals.$Blue-Light;
    display: block;
    width: 100%;
    font-size: 35px;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

h4.categoryDesc {
    text-align: center;
    padding: 0 1rem;
    color: globals.$Blue-Dark;
    font-size: 16px;
    font-weight: 300;
    opacity: 0.8;
}

h4.subCategoryDesc {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    padding: 0 1rem;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 1rem;
    @include globals.coloredText(globals.$Blue-Gradient);
}

.menuItems {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;

    .menuItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: clamp(250px, 100%, 400px);
        min-width: 200px;
        padding: 0.75rem 1rem;
        margin: 0 auto;
        animation: popIn 0.5s ease forwards;

        @keyframes popIn {
            from {
                scale: 0.5;
                opacity: 0;
            }

            to {
                scale: 1;
                opacity: 1;
            }
        }


        >* {
            line-height: 1;
            margin-bottom: 4px;
        }

        img {
            width: auto;
            max-width: 100%;
            max-height: 150px;
            z-index: 4;
        }

        .titleBox {
            display: flex;
            position: relative;
            width: 100%;
            justify-content: space-between;

            p.title,
            p.price {
                z-index: 3;
                font-size: 22px;

                span {
                    color: globals.$Blue-Light;
                    background-color: white;
                }
            }

            p.title {
                width: 100%;

                .icons {
                    display: inline-flex;
                    height: auto;

                    iconify-icon {

                        &[icon='arcticons:lime'],
                        &[icon='bx:leaf'],
                        &[icon='bxs:leaf'] {
                            color: green;
                        }

                        color: dimgray;
                        font-size: 18px;
                        align-self: flex-start;
                    }

                }

                span {
                    padding-right: 0.2rem;
                    line-height: 1.3;
                }
            }

            p.price {
                white-space: nowrap;
                font-size: 17px;
                font-weight: 400;
                align-self: flex-end;

                span {
                    padding-left: 0.5rem;
                    color: dimgray;
                }
            }

            &::after {
                content: '........................................';
                // display: none;
                position: absolute;
                color: globals.$Blue-Light;
                bottom: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                letter-spacing: 6px;
                overflow: hidden;
                font-size: 14px;
            }

        }

        p.desc {
            color: dimgray;
            max-width: 350px;
            align-self: flex-start;
            font-weight: 300;
            z-index: 3;
            font-size: 16px;
            text-transform: initial;
            line-height: 1.2;
        }

    }
}